*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: lightcoral;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100px;
    height: 100px;
    position: relative;
}

.loader div{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);

}

.loader div:nth-child(1){
width: 100px;
height: 100px;
animation: circleAnimation1 2s cubic-bezier(.52,.88,.65,.91) infinite alternate both;
}

.loader div:nth-child(2){
    width: 70px;
    height: 70px;
    top: 15px;
    left:15px;
    animation: circleAnimation2 2s cubic-bezier(.52,.88,.65,.91) infinite alternate both;

}

.loader div:nth-child(3){
    width: 40px;
    height: 40px;
    top:30px;
    left:30px;
    animation: circleAnimation3 2s cubic-bezier(.52,.88,.65,.91) infinite alternate both;
}


@keyframes circleAnimation1 {
    0%,20%{
        transform: scale(0);
        box-shadow: 2px 2px 20px #000005;

    }
    100%{
        transform: scale(1);
        box-shadow: 4px 4px 40px #000008;

    }
}


@keyframes circleAnimation2 {
    0%,50%{
        transform: scale(0);
        box-shadow: 2px 2px 20px #000005;

    }
    100%{
        transform: scale(1);
        box-shadow: 4px 4px 40px #000008;

    }
}


@keyframes circleAnimation3 {
    0%,70%{
        transform: scale(0);
        box-shadow: 2px 2px 20px #000005;

    }
    100%{
        transform: scale(1);
        box-shadow: 4px 4px 40px #000008;

    }
}